<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 别名映射，将该包下所有完整类名整天一个别名为精简类名
         例如 ：com.as.Pojo.User， 增添别名 User-->
    <typeAliases>
        <package name="com.as.Pojo"/>
    </typeAliases>

    <mappers>
        <mapper resource="com/as/Mapper/BookMapper.xml"/>
    </mappers>

</configuration>